:root {
  --font-main: 'Open Sans', sans-serif;

  --color-main: #ec7326;

  --color-text: #151515;
  --color-text-white: #efefef;

  --color-bg: #ece9e9;
  --color-bg-input: #fdfdfd;

  --color-border: #232221;
  --border-radius: 5px;
}
