:root {
  --font-main: 'Open Sans', sans-serif;

  // Цвета
  --color-main: #ec7326;
  --color-text: #151515;
  --color-text-white: #efefef;
  --color-bg: #ece9e9;
  --color-bg-input: #fdfdfd;
  --color-border: #232221;
  --color-bg-modal: rgba(255, 253, 250, 0.5);
  --color-modal: rgba(255, 255, 255);

  // border-radius
  --border-radius: 5px;

  // z-index
  --z-index-modal: 1000;
}
