.table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
  table-layout: fixed;

  &__head {
    background-color: var(--color-main);
  }

  &__row{
    font-size: 18px;
  }

  &__header,
  &__cell {
    text-align: left;
    padding: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    min-width: 50px;
    position: relative;
    .resizer {
      position: absolute;
      right: 0;
      top: 0;
      width: 5px;
      cursor: col-resize;
      user-select: none;
    }
  }

  &__header {
    background-color: var(--color-main);
    color: var(--color-text-white);
    border: 1px solid var(--color-border);
  }

  &__body {
    border: 1px solid var(--color-border);
    background-color: #f8f8f8;
    .table__cell {
      color: var(--color-text);
    }
  }
}